---
layout: default
title: Bartosz Kazimierz Papis&#58; Hobbies
css: list.css;skills.css;perfect-scrollbar.min.css;flash.css
js: initScroll.js;perfect-scrollbar.min.js;flash.js
---

{% include rightmenu.html positions="PROGRAMMING;HUNG GAR KUEN;DRUMMING;SAILING" %}

<div id="scroll-container" class="always-visible wrapper" style="padding-right: 40px; margin-bottom: 10px;">
  <div id="programming" class="block center list wrapped-width">
    <p>Programming</p>
    <div>
      <a href="http://stackoverflow.com/users/2642204/bartoszkp">
	{% include image-with-annotation.html src="http://stackoverflow.com/users/flair/2642204.png" style="width: 226px; min-height: 150px; object-fit: cover;" alt="profile for BartoszKP at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for BartoszKP at Stack Overflow, Q&amp;A for professional and enthusiast programmers" annotation="My StackOverflow flair image.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" %}
      </a>
      I'm a programmer both profesionally and as an enthusiast. I've used to contribute to <a href="http://stackoverflow.com">StackOverflow</a> very often, and I still do from time to time.
      <br /> <br /> <br />
      I'm mainly interested in issues of creating clean, readable designs and architectures and writing code that shares these merits. I've been practicing and constantly evaluating TDD for 3 years. My favourite languages are C# and Python.
    </div>
  </div>
  <div id="hunggarkuen" class="block center list wrapped-width">
    <p>Hung Gar Kuen</p>
    <div>
      {% include image-with-annotation.html src="assets/images/hunggarkuen.jpg" style="height: 340px;" annotation="Photo of Ambrose Chiu - Si Gung (my Master's Master), Marcin Jóźwiak - Si Fu (my Master) and me, a bit before earning my assistant's scarf." %}

      Hung Gar Kuen means, more or less, "Hung family's style" and it's one of the largest Kung Fu styles. I've started practicing Hung Gar in 2009, in <a target="_blank" href="http://hunggar.pl" style="color: #DDDDDD; text-decoration: underline;">Marcin Jóźwiak's Hung Gar Kung Fu Academy</a> and since then have become Si Hing - Master's assistant. Hung Gar is a great way for staying healthy, fit and strong. It also has its way of attracting a specific group of people: passionate, modest and striving for perfection.
    </div>
  </div>
  <div id="drumming" class="block center list wrapped-width">
    <p>Drumming</p>
    <div>
    {% include image-with-annotation.html src="assets/images/drumming.jpg" style="width: 226px;" annotation="Playing at Harenda club with Metaliator. Photo by Damian Malz." %}
    I've started drumming lessons somewhere around 2001, out of curiosity. One of my first bands was called Ex Anima and on 2008 we managed to self-record a demo (one of the songs is uploaded <a target="_blank" href="https://www.youtube.com/watch?v=ixXtK2HSQvM">here</a>). Currently I'm playing with <a target="_blank" href="http://metaliator.pl">Metaliator</a>, which is also a metal band. From time to time I also like to <a target="_blank" href="https://grandpause.bandcamp.com/">play rock/blues</a>.
    </div>
  </div>
  <div id="sailing" class="block center list wrapped-width">
    <p>Sailing</p>
    <div>
      {% include image-with-annotation.html src="assets/images/sailing.jpg" style="width: 226px;" annotation="Me (on the left) and my friend Grzegorz sailing on one of Masurian lakes." %}
    During vacation, I like sailing. I have the most basic inland skipper certificate.
    </div>
  </div>
</div>
