---
layout: default
title: Bartosz Kazimierz Papis&#58; Skills
css: list.css;skills.css;perfect-scrollbar.min.css;flash.css
js: initScroll.js;perfect-scrollbar.min.js;flash.js
---

{% include rightmenu.html main="skills.html" positions="PROGRAMMING;RESEARCH;TEAM LEADING;TOOLS" %}

<div id="scroll-container" class="always-visible wrapper" style="padding-right: 40px; margin-bottom: 10px;">
<div id="programming" class="block center list wrapped-width">
<p>Programming</p>
{% include skill.html name="TDD - 3+ years of experience, <br />C# - 5+ years of experience, <br />C++ - 10+ years of experience, <br />Python - 6+ years of experience" %}
{% include skill.html name="Python programming mentor for GeekGirlsCarrots" link="http://geekgirlscarrots.org/about-us" linkname="Code Carrots" %}
{% include skill.html name="Basic knowledge of: C++11, C, Java, Lisp, Fortran, JavaScript, Prolog, Basic, Bash, <br /> Objective-C, SQL, Octave/Matlab, R, Perl, PHP" %}
{% include skill.html name="Microsoft Certified Professional" %}
</div>

<div id="research" class="block center list wrapped-width">
<p>Research</p>
{% include skill.html name="PhD thesis in Artificial Intelligence: <i>State abstraction in Reinforcement Learning</i>, <br /> defended in 2015 at Warsaw University of Technology" linkname="Link" link="https://repo.pw.edu.pl/info/phd/WUT113e3e486cfe4a4f9971e1d0d5e4db00/State%2Babstraction%2Bin%2Breinforcement%2Blearning?r=affiliation&lang=en" %}
{% include skill.html name="Reinforcement Learning, Neural Networks, <br /> Decision Trees, Support Vector Machines, Genetic Algorithms" link="publications.html" linkname="Publications" %}
{% include skill.html name="Learning From Data online course" link="https://work.caltech.edu/telecourse.html" linkname="Learning From Data" %}
</div>

<div id="teamleading" class="block center list wrapped-width">
<p>Team leading</p>
{% include skill.html name="Technical leader (8 years of experience)" %}
{% include skill.html name="Certified SCRUM Master (7 years of experience)" link="https://www.scrumalliance.org/community/profile/bpapis" linkname="SCRUM" %}
{% include skill.html name="SCRUM of SCRUMS leader (3 years of experience)" %}
</div>

<div id="tools" class="block center list wrapped-width">
<p>Tools/Libraries/Frameworks</p>
{% include skill.html name="Qt, boost, gSoap, WCF, WPF, SCons, PyQt" %}
{% include skill.html name="SQL Server, MySQL" %}
{% include skill.html name="Git, SVN, CVS" %}
{% include skill.html name="Emacs, Visual Studio, Eclipse, PyCharm" %}
{% include skill.html name="BoostTest, Nunit, MSTest, Python’s unittest" %}
{% include skill.html name="StyleCop, TeamCity, Buildbot, Trac, Jira, Confluence, MS Office 2010-2013" %}
{% include skill.html name="ILOG, GLPK, Simone" %}
</div>
</div>
