---
layout: default
title: Bartosz Kazimierz Papis&#58; Software
css: list.css;software.css;perfect-scrollbar.min.css;flash.css
js: initScroll.js;perfect-scrollbar.min.js;flash.js
---

<div id="scroll-container" class="always-visible wrapper" style="padding-right: 40px; margin-bottom: 10px;">
  <div class="block center list wrapped-width">
    {% include software.html title=".NET RL-Glue Codec" link="downloads/dotRLGlueCodec.zip" linkname="Download Source & Binaries" secondlink="https://github.com/bartoszkp/dotRLGlueCodec" secondlinkname="GitHub" description=".NET library for integration with the RL-Glue platform" licence="Permissive-type licence" %}
  </div>

  <div class="block center list wrapped-width">
    {% include software.html title="dotRL" link="https://sourceforge.net/projects/dotrl/" linkname="SourceForge" description="A platform allowing convenient evaluation of Reinforcement Learning algorithms" licence="BSD Licence" %}
  </div>
</div>
