<p style="font-family: Helvetica; font-size: 30px; float: left; overflow: hidden; margin: 10px; color: white;">
<a href="index.html" style="text-decoration: none; display: block; color: #FFFFFF;"><i>Bartosz Kazimierz Papis</i></a>
</p>

<div class="topbar">
<ul class="menu">
 <li>
  <a href="index.html">HOME</a>
 </li>
 <li>
  <a href="skills.html">SKILLS</a>
 </li>
 <li>
  <a href="publications.html">PUBLICATIONS</a>
 </li>
 <li>
  <a href="biography.html">BIOGRAPHY</a>
 </li>
 <li>
  <a href="cv.html">CV</a>
 </li>
 <li>
  <a href="facts.html">FACTS</a>
 </li>
 <li>
  <a href="hobbies.html">HOBBIES</a>
 </li>
 <li>
  <a href="contact.html">CONTACT</a>
 </li>
</ul>
</div>
