.flashing {
 <!-- Important stuff here -->
 -webkit-transition: flash 0.75s ease-out;
 -moz-transition: flash 0.75s ease-out;
 -o-transition: flash 0.75s ease-out;
 transition: flash 0.75s ease-out;
 animation: flash 0.75s forwards linear normal;
}

@keyframes flash {
 0% {
 background-color: #222222;
 }
 50% {
 background-color: white;
 }
 100% {
 background-color: #222222;
 }
}