.list {
}

.centered-width {
 width: 55%;
}

.wrapped-width {
 width: 100%;
}

.list p {
 text-align: center;
 margin: 5px;
 padding: 0;
 color: #808080;
 font-family: Verdana;
 font-size: 14px;
 font-weight: bold;
 margin-top: 5px;
 margin-bottom: 15px;
}

.list .rightlink {
 display: table-cell;
 margin-right: 5;
 margin-left: auto;
 float: right;
 font-size: 13px;
 font-weight: bold;
}

.always-visible.ps-container > .ps-scrollbar-x-rail,
.always-visible.ps-container > .ps-scrollbar-y-rail {
 opacity: 1;
}
