.list {
 width: 55%;
}

.list p {
 margin: 3px;
 padding: 0;
 color: #000000;
 font-family: Arial;
 font-size: 12px;
 font-weight: bold;
}

.publication {
 margin: 5px;
}

.title {
 font-family: Helvetica;
 font-size: 14px;
 font-style: italic;
 color: #DDDDDD;
 display: table-cell;
}

.publication a {
 color: #DDDDDD;
 display: table-cell;
 text-decoration: underline;
 margin-right: 0;
 margin-left: auto;
 float: right;
}

.authors {
 font-family: Helvetica;
 font-size: 14px;
 color: #AAAAAA;
}

.where {
 font-family: Helvetica;
 font-size: 12px;
 color: #AAAAAA;
}