.skill {
 margin: 5px;
}

.name {
 font-size: 14px;
 color: #DDDDDD;
 display: table-cell;
}

.skill a {
 color: #DDDDDD;
 display: table-cell;
 text-decoration: underline;
 margin-right: 0;
 margin-left: 100px;
 float: right;
 display: inline-block;
}
