.software {
 margin: 5px;
}

.title {
 font-size: 14px;
 font-style: italic;
 color: #DDDDDD;
 display: table-cell;
}

.description {
 font-size: 13px;
 color: #AAAAAA;
}

.licence {
 font-size: 11px;
 color: #AAAAAA;
 margin-top: 5px;
}

.licence:after {
 content: "";
 width: 100%;
 height: 1px;
 display: block;
 background-color: #808080;
 margin-top: 15px;
 margin-bottom: 15px;
}
