<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
<title> {{page.title}} </title>
<link rel="stylesheet" type="text/css" href="assets/css/main.css" />
{% assign csss = page.css | split: ';' %}
{% for css in csss %}
<link rel="stylesheet" type="text/css" href="assets/css/{{css}}" />
{% endfor %}

{% assign jss = page.js | split: ';' %}
{% for js in jss %}
<script type="text/javascript" src="assets/js/{{js}}"></script>
{% endfor %}
</head>
<body>
{% include topbar.html %}
<div class="content">
{{content}}
</div>
{% include bottombar.html %}
</body>
</html>
